.subscribe .subscribe-message,
.subscribe .subscribe-overlay {
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.06;
  letter-spacing: normal;
  color: #000000;
}

.subscribe .subscribe-message {
  padding: 8px 0 14px;
}

.subscribe .subscribe-message a {
  display: -webkit-inline-flex;
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}
.subscribe .subscribe-message a img {
  -webkit-flex: 3 1 auto;
  -ms-flex: 3 1 auto;
  flex: 3 1 auto;
  width: 38px;
  height: 28px;
  margin-right: 28px;
  object-fit: contain;
  -webkit-transform: rotate(-30deg);
  -moz-transform: rotate(-30deg);
  -ms-transform: rotate(-30deg);
  -o-transform: rotate(-30deg);
  transform: rotate(-30deg);
}

.subscribe .subscribe-message a .subscribe-message__wrap {
  display: inline-block;
  vertical-align: middle;
}

.subscribe .subscribe-message a .subscribe-message__wrap .subscribe-message__text {
  display: inline-flex;
  border-bottom: 1px solid #000000;
}

.subscribe .subscribe-message a .subscribe-message__wrap .subscribe-message__subtext {
  display: block;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.44;
  letter-spacing: normal;
  color: #7a7a7a;
}

.subscribe .subscribe-overlay {
  position: fixed;
  display: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 9999;
}
.subscribe .subscribe-overlay .subscribe-document {
  background: #fff;
  display: block;
  height: 100%;
  padding: 15px;
}
.subscribe .subscribe-overlay .subscribe-document input[type=submit],
.subscribe .subscribe-overlay .subscribe-document input[type=email] {
  border: solid 1px #4ab5fc;
  border-radius: 5px;
  color: #9b9b9b;
  font-size: 20px;
  font-weight: 300;
  line-height: 0.85;
  margin-bottom: 25px;
  padding: 10px;
  width: 100%;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.subscribe .subscribe-overlay .subscribe-document input[type=submit] {
  background-color: #4ab5fc;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.subscribe .subscribe-overlay .subscribe-document .subscribe-document__content {
  max-width: 250px;
  margin: auto auto 25px;
}
.subscribe .subscribe-overlay .subscribe-document .subscribe-document__content .subscribe-document__checkbox {
  margin-bottom: 14px;
  cursor: pointer;
  line-height: 14px;
}
.subscribe .subscribe-overlay .subscribe-document .subscribe-document__content .subscribe-document__checkbox img {
  margin-right: 20px;
  vertical-align: middle;
}
.subscribe .subscribe-overlay .subscribe-document a.subscribe-document__close {
  float: right;
}
.subscribe .subscribe-overlay .subscribe-document h1 {
  font-size: 38px;
  text-align: center;
  margin-top: 10px;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.subscribe .subscribe-overlay .subscribe-document p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.subscribe .subscribe-overlay .subscribe-document img {
  display: inline;
}
.subscribe .subscribe-overlay.subscribe-overlay-inpage {
  display: block;
  position: relative;
  opacity: 1;
}
.subscribe .subscribe-overlay.subscribe-overlay-inpage a.subscribe-document__close {
  display: none;
}
.subscribe .show {
  display: block!important;
  opacity: 1;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: both;
}
@media (min-width: 768px) {
  .subscribe .subscribe-overlay .subscribe-document {
    width: 700px;
    padding: 15px 100px;
    height: auto;
    -webkit-box-sizing: border-box;
    /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;
    /* Firefox, other Gecko */
    box-sizing: border-box;
    /* Opera/IE 8+ */
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    border: solid 1px #979797;
  }
  .subscribe .subscribe-overlay .subscribe-document a.subscribe-document__close {
    display: none;
  }
  .subscribe .subscribe-overlay.subscribe-overlay-inpage {
    background-color: transparent;
    z-index: auto;
  }
  .subscribe .subscribe-overlay.subscribe-overlay-inpage .subscribe-document {
    top: auto;
    transform: translate(-50%, 0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .subscribe .subscribe-message a {
    flex-direction: column;
  }

  .subscribe .subscribe-message a img {
    margin-bottom: 18px;
  }
}

/*# sourceMappingURL=subsribe.css.map */
